package test_page

templ TestPage(name string) {
    <!DOCTYPE html>
    <html>
    <head>
        <title>Test page</title>
    </head>
    <body>
        <h1>Wecome to test page</h1>
        <p>I'm just testing</p>
    </body>
    </html>
}